a.button {
	text-decoration: none;
}

.header {
	text-align: center;
	height: 100vh;
	display: flex;
	align-items: center;
	background: $white url( '/img/CaVelo_047_mobile.jpg') no-repeat center top;
	background-size: cover;
	color: white;
	text-shadow: #00000091 0 0 30px;

	>.grid-container {
		flex: 1;
	}

	h1 {
		font-size: 6rem;
		transform: rotate(-10deg);
		// text-align: center;
		font-weight: $global-weight-bold;
		position: relative;

		.stamp {



		    position: absolute;
		    right: 19px;
		    bottom: 0px;
			display: inline-block;
			padding: rem-calc( 6 10 );
		    transform: rotate(-8deg);
			font-family: 'Courier', monospace;
			font-size: rem-calc( 20 );
		    text-transform: uppercase;
		    text-shadow: none;
			font-weight: normal;
			color: #d23;
			border: 4px double #d23;
		    border-radius: 1rem;
		    white-space: nowrap;
		}

		@include breakpoint( medium ) {
			font-size: 11rem;

			.stamp {
				font-size: rem-calc( 28 );
				padding: rem-calc( 10 20 );
			    border-width: 7px;
		    	font-weight: bold;

			}
		}
	}

	h2 {
		font-size: 2rem;
		// text-align: center;
		letter-spacing: 1.2px;
	}

	@include breakpoint( medium ) {
		background-image: url('/img/CaVelo_047.jpg');
		background-position: center bottom;
	}

	&__meta {
		font-size: rem-calc( 20 );
		font-weight: bold;
	}
}

.teammember {
	&:last-child {
		margin: auto;
	}

	&__name {
		letter-spacing: 1.2px;
	}
	&__img {
	    max-width: 160px;
	    float: right;
	    border: 1px solid transparent;
	    border-radius: 50%;
	    margin-left: 16px;
	}
}

.section {
	margin: rem-calc( 48 0 );
	h2 {
		text-align: center;
		margin-bottom: rem-calc( 16 );
		letter-spacing: 1.2px;
	}
}

.photosection {
	position: relative;

	.cell {
		min-height: rem-calc( 300 );
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		padding: 0;
	}

	&--imgleft {
		.cell:first-child {
			order: 2;
		}
	}

	@include breakpoint( large ) {
		margin: rem-calc( 48 0 );
		display: flex;
		align-items: center;
		
		&--imgleft {
			.cell:first-child {
				min-height: 600px;
				background-position: left top;
				order: initial;

				
			    width: 60%;
			    @include cavelo-box-shadow;
			}

			.cell:last-child {
				display: flex;
				align-items: center;
				position: absolute;
				right: 0;
				padding-right: 10%;
			}

		}

		&--alt {
			.cell:first-child {
				width: 50%;
			}

			.cell:last-child {
				padding-right: 5%;
				top: 5%;
			}

		}

		&--imgright {
			.cell:first-child {
				display: flex;
				align-items: center;
				// position: absolute;
				// left: 0;
				padding-left: 10%;
				width: 70%;
			}

			.cell:last-child {
				min-height: 690px;
				background-position: right center;
			    width: 30%;
			    position: absolute;
			    right: 0;
			    @include cavelo-box-shadow;
			}

		}
	}
}

.textbox {

	padding: 30px 40px;
    background-color: lightseagreen;
    color: wheat;
    @include cavelo-box-shadow;

	p:last-child {
		margin-bottom: 0;
	}

	a {
		color: wheat;

		&::hover {

		}
	}

	&--branded {
		background-image: url( '../img/bg-textbox-cavelo.png' );
		background-repeat: no-repeat;

		background-size: 100%;
		background-position: -227px -10px;
	}

	@include breakpoint( large ) {
		padding: 60px 80px;
	    background-color: lightseagreen;
	    color: wheat;
	    font-size: 20px;
	    margin-left: -56px;
	    @include cavelo-box-shadow;

	    .photosection--imgright & {

	    	margin-right: -56px;

	    }
	}
}

.accordion {
	&-content {
		h3 {
			font-family: $body-font-family;
			font-size: rem-calc( 16 );
		}
	}

	&-title {
		&::before {
			font-size: 2rem;
			font-weight: bold;
		}
	}
}

.prihlaska {
	padding: rem-calc( 32 );
	background-color: $primary-color;
	color: wheat;

	a {
		color: wheat;
	}

	.button {
		@include button-style( #EF5B5B, auto );
		@include button-expand( true );
	}

	@include breakpoint( medium ) {
		padding: rem-calc( 48 );
		font-size: rem-calc( 18 );

		.button {
			@include button-expand( false );
		}

	}
}

.footer {
	background-color: #1f1f1f;
	color: #A4A9AD;
	padding: 48px 0 16px 0;
	text-align: center;

	.logo-footer {
		max-width: rem-calc( 160 );
	}

	@include breakpoint( medium ) {
		text-align: left;
	}
}

.nextyearinfo {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: tomato;
    text-align: center;
    z-index: 1;

    @include xy-grid;

    &__inner {
    	@include xy-cell();
    }

    p {
    	margin-top: rem-calc( 16 );
    	color: wheat;
    }

    a {
    	color: white;
    	text-decoration: underline;
    }
}